@import "tailwind.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg-og {
  background-color: #fb6218;
}

.text-tw {
  color: #ffffffb8;
}

.gray-color {
  color: #1212127a;
}

.small_button {
  padding: 5px 11px;
  height: 26px;
  margin-right: 6px;
  border-radius: 42px;
  background-color: #ffecde;
  font-size: 12px;
  text-align: center;
  line-height: 17px;
  color: #fb6218;
  margin-top: 6px;
  cursor: pointer;
}

.small_button.on {
  background-color: #ff7a30;
  color: white;
}

.select_box {
  width: 132px;
  height: 37px;
  margin-left: 20px;
  border-bottom: 1px solid #e0e0e0;
  padding-left: 5px;
}

.num_container {
  width: 190px;
  height: 86px;
  border-radius: 8px;
  background-color: #eeeeee;
  margin-left: 14px;
}

.warrning_button {
  width: 340px;
  height: 36px;
  border-radius: 4px;
  background-color: #ea6971;
  color: white;
  margin-top:20px;
  line-height:36px;
  cursor:pointer;
}
.error_button {
  width: 160px;
  height: 36px;
  border-radius: 4px;
  background-color: #eeeeee;
  color: black;
  margin-top:20px;
  line-height:36px;
  cursor:pointer;
}
