@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #27104e;
  --secondary-color: #64379f;
  --tertiary-color: #9854cb;
  --quaternary-color: #ddacf5;
  --quinary-color: #75e8e7;
}