@tailwind base;
@tailwind components;
@tailwind utilities;

.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: white;
}

.small {
  font-size: 12px;
  padding: 10px 16px;
}

.medium {
  font-size: 12px;
  padding: 11px 20px;
}

.large {
  font-size: 16px;
  padding: 12px 24px;
}

.spinner_size {
  display: inline-block;
  background-size: 13px 13px;
  width: 13px;
  height: 13px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.hovered:hover {
  opacity: 0.8;
}

.focused {
  box-shadow: 0 0 0 4px #e0d5d5;
}

.default {
  background-color: #0060ce;
}

.success {
  background-color: #7cbb3f;
}

.warning {
  background-color: #ff8e0d;
}

.danger {
  background-color: #ff3232;
}

.black {
  background-color: #000;
}

.white {
  background-color: #fff;
  color: #000;
  border: 1px solid #aaa;
  box-sizing: border-box;
}
